on: [push, pull_request]
name: Test
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: DeterminateSystems/nix-installer-action@main
    - uses: DeterminateSystems/magic-nix-cache-action@main
    - run: nix develop --command bash -c "lint && integration"
    - uses: codecov/codecov-action@v5.1.2
      with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: test/coverage.out
